body {
  border: 1px solid black;
  width: 1350px;
  position:relative;
}

/*=============header==============*/

.yourlogo {
  font-size: 20px;
  color: red;
  display:inline-block;
  padding:10px 32px 6px 11px;
  vertical-align: middle;
  font-family: 'Pacifico';
}

.navigation {
  list-style: none;
  margin:0;
  padding: 0;
  font-size:12px;
  display: inline-block;
  font-family: 'Quicksand', cursive;
}

 .navigation li {
  display: inline-block;
  padding: 0 33px 1px 0;
 }

 .navigation a {
  text-decoration: none;
  color: #777D83;
  font-size: 16px;
  vertical-align: middle;
 }

 .pricing a {
  color: black;
  text-shadow:-1px -1px 2px black;
 }

/* <!-- ==============cover photo==================================== --> */

.coverPhoto {
  background-image: url("background.jpg");
  max-width: 100%;
  height:200px;
  margin:0;
  padding:100px 100px 100px 200px;
  
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  
  color:#fff;
  font-size: 4em;
  font-family: 'Quicksand',cursive;
  vertical-align: middle;
  }

  .text{
    vertical-align: middle;
  }
.coverPhoto p {
  margin:0 0 0 0;
  text-shadow: -1px -1px 2px black;
  padding-right: 100px;
}
/* <!-- ===================Three column section=============================== --> */


.threeColumns{
  width: 100%;
  margin:0;
  padding:50px 184px 0 184px;
  font-family: 'Quicksand', sans-serif;
}
.threeColumns ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.threeColumns li {
  text-align: center;
  vertical-align: middle;
}
.personalFeatures li, .smallBusinessFeatures li, .enterpriseFeatures li{
  border: .1em solid gray;
  padding-top: 10px;
  padding-bottom: 10px;
}
.personalFeatures ul, .smallBusinessFeatures ul, .enterpriseFeatures ul{
  background-color:#F7F7F7;
}
.plan{
  display:inline-block;
  padding-right: 10px;
}
.personalSquare, .smallBusinessSquare, .enterpriseSquare {
  width:310px;
  height:210px;
  overflow: hidden;
  color: white;
  font-size: 21px;
  vertical-align: middle;
}
.personalSquare{
background-color: #4F934E;
}
.smallBusinessSquare{
  background-color: #2A4787;
}
.enterpriseSquare{
  background-color: #101010;
}
.planTitle {
  padding-top: 30px;
}
.money {
  display: inline-block;
  margin:0;
  width:100%;
  padding: 0;
  text-align: center;
  font-size: 100px;
}
.perMonth {
  margin:0;
  width: 100%;
  text-align: center;
  opacity: .6;
  padding:0;
}
.button{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}
button {
  border-radius: 28px;
  border-size: 1px;
  background-color: white;
}
button:hover{
 background-color: #C8C854;
 text-shadow: -1px -1px 2px black;
}
/* <!-- =================two column section================================= --> */

.twoColumnContainer {
  margin: 0;
  padding:0 184px 0 220px;
}

.getStartedToday, .payMonthlyOrAnnually, .customerSupport, .cancel {
  width: 400px;
  display: inline-block;
}

.payMonthlyOrAnnually, .cancel{
  padding-left:110px;
}
.twoColumnContainer{
font-family: 'Quicksand';
}

h1{
  font-family: 'Quicksand', cursive;
  font-size: 140%;
  font-weight: bolder;
  text-shadow: -1px -1px 2px black;
}



/* <!-- =================Footer================================= --> */
footer {
  width:100%;
  background-color: black;
  font-family: 'Quicksand';
}
.footertext a{
  color:#DDDDDD;
}
.footertext{
  width:100%;
  display:inline-block;
  text-align: center;
  padding:10px 0 10px 0;
  color: #888888;
}

