body {
  border: 1px solid black;
  width: 1350px;
  position:relative;
}

.yourlogo {
  font-size: 16px;
  color: #777D83;
  display:inline-block;
  padding:10px 32px 6px 11px;
  vertical-align: middle;
}

.navigation {
  list-style: none;
  margin:0;
  padding: 0;
  font-size:12px;
  display: inline-block;
}

 .navigation li {
  display: inline-block;
  padding: 0 33px 1px 0;
 }

 .navigation a {
  text-decoration: none;
  color: #777D83;
  font-size: 16px;
  vertical-align: middle;
 }

 .pricing a {
  color: black;
 }

/* <!-- ================================================== --> */

.coverPhoto {
  background-image: url("background.jpg");
  max-width: 100%;
  height:200px;
  margin:0;
  padding:100px 100px 100px 200px;
  
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  
  color:#fff;
  font-size: 3em;
  }
.simplePricing {
  padding-top: 50px;
}
.coverPhoto p {
  margin:0 0 0 0;
  text-shadow: -1px -1px 2px black; ;
}
/* <!-- ================================================== --> */

.threeColumns{
  width: 100%;
  margin:0;
  padding:50px 184px 0 184px;
}
.personalPlan, .smallBusinessPlan, .enterprisePlan{
  display:inline-block;
  padding-right: 10px;
}
.personalSquare, .smallBusinessSquare, .enterpriseSquare{
  width:310px;
  height:100px;
  overflow: hidden;
  color: white;
}

.personalSquare{
background-color: #4F934E;
}

.smallBusinessSquare{
  background-color: #2A4787;
}

.enterpriseSquare{
  background-color: #101010;
}


.personal{
  margin: 0;
  width: 100%;
  text-align: center;
}

.fiveDollars, .fourtyFiveDollars, .twentyFiveDollars {
  display: inline-block;
  margin:0;
  width:100%;
  padding: 0;
  text-align: center;
}

.perMonth {
  margin:0;
  width: 100%;
  text-align: center;
}

button {
  border-radius: 28px;
  border-size: 1px;
  background-color: white;
}

/* <!-- =================Footer================================= --> */
footer{
  width:100%;
  background-color: black;
}

.footertext a{
  color:#DDDDDD;
}

.footertext{
  width:100%;
  display:inline-block;
  text-align: center;
  padding:10px 0 10px 0;
  color: #888888;
}

